---
services:
  putty:
    image: jlesage/putty
    container_name: putty
    hostname: putty
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
          max-size: "50m"
    environment:
      - PUID=0
      - PGID=0
      - TZ=Europe/London
    #ports:
    #  - "5800:5800"
    volumes:
      - {{ putty_config_path }}:/config:rw
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.putty.entrypoints=http"
        - "traefik.http.routers.putty.rule=Host(`{{ putty_domain_prefix }}.{{ vault_domain }}`)"
        - "traefik.http.middlewares.putty-https-redirect.redirectscheme.scheme=https"
        - "traefik.http.routers.putty.middlewares=putty-https-redirect"
        - "traefik.http.routers.putty-secure.entrypoints=https"
        - "traefik.http.routers.putty-secure.rule=Host(`{{ putty_domain_prefix }}.{{ vault_domain }}`)"
        - "traefik.http.routers.putty-secure.tls=true"
        - "traefik.http.routers.putty-secure.service={{ putty_domain_prefix }}"
        - "traefik.http.services.putty.loadbalancer.server.port=5800"
        - "traefik.docker.network={{ proxy_network_name }}"
    networks:
      - {{ proxy_network_name }}

networks:
  {{ proxy_network_name }}:
    external: true