---
services:
  wg-easy:
    image: weejewel/wg-easy
    container_name: wireguard
    hostname: wireguard
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    environment:
      # ⚠️ Required:
      # Change this to your host's public address
      - WG_HOST= {{ vault_wg_host_url }} # The public hostname of your VPN server.

      # Optional:
      # - PASSWORD=foobar123 # When set, requires a password when logging in to the Web UI.
      # - WG_PORT=51820 # The public UDP port of your VPN server. WireGuard will always listen on 51820 inside the Docker container.
      - WG_DEFAULT_ADDRESS={{ wg_default_address_range }} # Clients IP address range.
      - WG_DEFAULT_DNS={{ wg_default_dns }} # DNS server clients will use.
      # - WG_MTU=1420 # The MTU the clients will use. Server uses default WG MTU.
      # - WG_ALLOWED_IPS= 10.0.1.0/24 # Allowed IPs clients will use.
      # - WG_PRE_UP=echo "Pre Up" > /etc/wireguard/pre-up.txt
      # - WG_POST_UP=echo "Post Up" > /etc/wireguard/post-up.txt
      # - WG_PRE_DOWN=echo "Pre Down" > /etc/wireguard/pre-down.txt
      # - WG_POST_DOWN=echo "Post Down" > /etc/wireguard/post-down.txt
    volumes:
      - {{ wg_data_path }}:/etc/wireguard
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wireguard.entrypoints=http"
      - "traefik.http.routers.wireguard.rule=Host(`{{ wg_domain_prefix }}.{{ vault_domain }}`)"
      - "traefik.http.middlewares.wireguard-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.wireguard.middlewares=wireguard-https-redirect"
      - "traefik.http.routers.wireguard-secure.entrypoints=https"
      - "traefik.http.routers.wireguard-secure.rule=Host(`{{ wg_domain_prefix }}.{{ vault_domain }}`)"
      - "traefik.http.routers.wireguard-secure.tls=true"
      - "traefik.http.routers.wireguard-secure.service={{ wg_domain_prefix }}"
      - "traefik.http.services.wireguard.loadbalancer.server.port=51821"
      - "traefik.docker.network={{ proxy_network_name }}"
    networks:
      - {{ proxy_network_name }}
      - {{ home_lab_network_name }}
      

networks:
  {{ proxy_network_name }}:
    external: true
  {{ home_lab_network_name }}:
    external: true
